{{> nav}}

<section class="row center-xs">
    <h2>{{about}}</h2>
</section>

<section class="row center-xs">
    <ul>
        {{#each technologies}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
</section>