{{> nav}}

<section>
    <h2>Hello, {{person.name}}!</h2>


    <div>

        <div class="dialog">
            <p>Hello.</p>
            <div class="arrow"></div>
        </div>
        {{!-- {{#times 3}} --}}
        <img src="./snorlax.png" width="150px" />
        {{!-- {{/times}} --}}
    </div>
</section>