.dialog {
  background-color: #fefefe;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  p {
    margin-bottom: 0;
  }
}

.arrow {
  margin: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fefefe;
  position: relative;
  top: 0.6rem;
}
