$spacing: 3em;

:root {
  --primary: #b2d2b1;
  --secondary: #9cc69b;
  --secondary-shade: #8bbc8a;
  --black: #0f1a0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 80%;
}

section {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  * {
    margin: 8px 0;
  }
}

body {
  background-color: var(--primary);
}

button {
  cursor: pointer;
}
