:root {
  --background: #e5e5e5;
  --black: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
