.navbar {
  background-color: var(--secondary);

  .navbar__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  .navbar__link {
    text-decoration: none;
  }

  .navbar__list-item {
    padding: 1rem 4rem;
    font-size: 1.1em;
    transition: 0.2s;

    &:hover {
      background-color: var(--secondary-shade);
    }

    &.navbar__list-item--active {
      background-color: var(--secondary-shade);
    }
  }
}
